@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

:root{
    --roboto:'Roboto', sans-serif;
    --ubuntu:'Ubuntu', sans-serif;
    --Noto:'Noto Serif', serif;
    --poppins:'Poppins', sans-serif;
   --black:black;
   --white:#fff;
   --gold:gold;
   --yellow:yellow;
   --golden:goldenrod;
    --red:red;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul,li{
    list-style:none;
}
a{
    text-decoration:none;
}
header{
    font-family:var(--poppins);
    background-color: #121227;
    border-bottom:3px solid #000;
    
}
.top{
    width:100%;
    -webkit-box-shadow: -1px 3px 6px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 6px -1px rgba(0,0,0,0.75);
box-shadow: -1px 3px 6px -1px rgba(0,0,0,0.75);
   height:3.5rem;
   background-color: #000;;
    position:sticky;
   top:0;
   z-index:1; 
}
#topnav{
   
    width:70%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    height:50px;
    align-items:center;
    color:var(--white)!important;
}
.logo p{
    font-weight: bold;
    font-size:1.3rem;
}
.navbar ul{
    display: flex;
  
}
.navbar ul li {
    padding:0px 18px;
}
.navbar ul li a{
    color:#fff;
    font-weight:600;
    text-transform: uppercase;
position: relative;
transition: all 0.1s linear;
}
.navbar ul li a::after{
    position: absolute;
    content:"";
    width:0%;
    top:100%;
    right:0;
    height:3px ;
    background-color: var(--yellow);
    display: block;
    transition:all 0.5s linear;
}
.navbar ul li a:hover::after{
    width:100%;
}
.navbar ul li a:hover{
    color:var(--gold);
}

/* Working of nav has been Completed */

.bodytext{
    width:80%;
  
    margin:auto;
    display: flex;
   
    flex-direction: row;
}
.leftbody{
   width:700px;
   margin-top:200px;
 text-align:center;
}
i.fab{
    padding:6px;
    margin:8px;
    border:2px solid red;
    border-radius: 50%;
    color:var(--white);
    font-size:1.7rem;
}
.fa-facebook:hover{
color:#3b5999;
}
.fa-twitter:hover{
  color:#55acee;
}
.fa-linkedin:hover{
  color:#0077B5;
}
.fa-github:hover{
 color:#131418;   
}

.fa-instagram:hover{
 color:#e4405f;  
}
.text {
    margin-top:30px;

}
.text h1{
   
    font-size:2.3rem;
    animation-name: animates;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-transform: capitalize;
    word-spacing: 4px;

}
@keyframes animates{
    0%{color:#fff}
    20%{color:black}
    30%{color:red}
    40%{color:yellow}
    50%{color:yellowgreen}
    60%{color:palevioletred}
    70%{color:brown}
    90%{color:maroon};
}
.text span{
    font-weight: 600;
    font-size:1.2rem;
    color:gray;
    text-align:left;
}
#btn1{
    border:none;
    outline:none;
    background:none;
    border:2px solid red;
    padding:8px;
    border-radius: 40px;
    width:120px;
    margin:10px 0px;
    color:#fff;
    font-family: var(--ubuntu);
    font-weight: bold;
    cursor: pointer;
}
#follow{
    border:none;
width:100px;
font-size:3.6rem;
color:red;
position: relative;
top:20px;
border-radius: 50%;
}
/* Working of bodysection completed */

#about{
    background-color: #03030d;
   
    color:gray;
    font-family: var(--poppins);
}
.aboutcontainer{
    width:60%;
    margin:auto;
   
    padding-top:50px;
    display: flex;
   
}
.imageabout{
    width:300px;
    height:300px;
    background-color: gray;
    position: relative;
    z-index:1;
   
}
.imageabout::after{
    content:"";
    border:8px solid var(--golden);
    transform:translate(-30px,10px);
    display: block;
    width:300px;
    position: absolute;
    height:300px;
    top:0;
    z-index:-1;
}
.imageabout img{
    width:100%;
    height:100%;
    object-fit: cover;
    transform:translateY(-10px);
    filter: drop-shadow(8px 0px 8px rgba(0,0,0,1));
}
.aboutmetext{
    flex-basis:400px;
   
    margin:40px;
}
.aboutmetext h1{
    color:var(--white);
    position: relative;
    letter-spacing: 2px;
}
.aboutmetext h1::after{
    content: "";
    position: absolute;
    display: block;
    background-color: var(--yellow);
    height:2px;
    width:20%;
}
.aboutmetext p{
    margin:10px 8px;
    padding:6px;
    font-size:1.1rem;
    font-weight: normal;
    text-align:justify;
}
#btn{
    text-align:center;
}
#btn2{
    background-color: rgb(255, 185, 7);
    width: 7rem;
    color:#fff;
    padding:8px 10px;
    outline:none;
    border:2px solid rgb(0, 132, 255);
    border-radius: 2px;
    font-family: var(--poppins);
    cursor: pointer;
    margin-bottom:20px;
}
#btn3{
    background-color: transparent;
    width: 8rem;
    color:gold;
    padding:8px 10px;
    outline:none;
    border:2px solid gold;
    border-radius: 2px;
   margin-left:8px;
    font-family: var(--poppins);
    cursor: pointer;
}
/* Working of about me COMPLETED */

/* start of our services */

#ourservices{
    background-color:#121227 ;
   
}
.ourservicescontainer{
    width:80%;
    margin:auto;

    padding-top:40px;
}
.servicetext{
    text-align: center;
    font-family: var(--poppins);
}

.servicetext h1{
    color:var(--white);
    
    letter-spacing: 2px;
    text-align:center;
   
   
    
}

 .line{
   
    background-color: var(--yellow);
    height:2px;
    width:150px;
    margin:auto;
    text-align: center;
       
   

} 
.servicetext p{
    margin:10px 8px;
    padding:6px;
    font-size:1.1rem;
    font-weight: normal;
    text-align:center;
    color:#fff;
}

.row{display: flex;

}
#firstchild{
    background-color: #7b2cbf;
    border-bottom:6px solid red;
   
}
.rowcontainer{
    margin:8px;
    -webkit-box-shadow: -1px 3px 6px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 6px -1px rgba(0,0,0,0.75);
box-shadow: -1px 3px 6px -1px rgba(0,0,0,0.75);
text-align:center;
transition:all 0.9s linear;
font-family: var(--poppins);

}
.rowcontainer span{
   margin-top:10px;
    font-size:2rem;
   color:red;
}
.rowcontainer h1{
    margin:15px 0px 0px;
    color:var(--white);
}
.rowcontainer p{
    font-size:1.1rem;
    color:var(--white);
   
    font-family: var(--poppins);
    text-align: left;
    width:60%;
    
    margin: 30px auto 10px;
}
.rowcontainer:hover{
    background-color: #7b2cbf;
    transform:translateY(-10px);
    border-bottom:6px solid red;
}

/* Work of Services has been Completedd */

#experience{
    font-family: var(--poppins);
    background-color: #1b1c1e;
   
 
}
.experiencecontainer{
    width:80%;
   
    margin:auto;
}
.experiencetext{
    padding-top:40px;
    width:400px;
}
.experiencetext h1{
    color:var(--white);
    position: relative;
    letter-spacing: 2px;
}
.experiencetext h1::after{
    content: "";
    position: absolute;
    display: block;
    background-color: var(--yellow);
    height:2px;
    width:20%;
}
.experiencetext p{
   margin:10px 0px;
    font-size:1.1rem;
    font-weight: normal;
color:var(--golden);
}

   small{
       
    position: relative;
    top:10px;   
    color:gold;
}
#lastchild{
    background-color: chartreuse;
}
   
/* Starting Work of latest Work */

#work{
    background-color: #000;
   
    font-family: var(--poppins);
}
.workcontainer{
    width:80%;
   
    margin:auto;
}
.worktext{
    padding-top:40px;
    width:400px;
}
.worktext h1{
    color:var(--white);
    position: relative;
    letter-spacing: 2px;
}
.worktext h1::after{
    content: "";
    position: absolute;
    display: block;
    background-color: var(--yellow);
    height:2px;
    width:20%;
}
.worktext p{
   margin:10px 0px;
    font-size:1.1rem;
    font-weight: normal;
color:var(--golden);
}
.list{
    color:#fff;
    display: flex;
    width:80%;
   
    margin:auto;
    cursor: pointer;
 
}
.list li{
    padding:8px;
}
.image-work{
    width:80%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
   
    
   
}
.working{
    margin-left:10px;
}
/* START WORK OF HIRE */

#hire{
    background-color: #FFDF00;
    height:20vh;
    font-family: var(--poppins);
}
.hiretext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:20vh;
}
.hiretext h1{
    color:var(--white);
    position: relative;
    letter-spacing: 2px;
}
.hiretext button{
    padding:8px 10px;
    width:120px;
    outline:none;
    border:none;
    color:#fff;
   
    margin:30px 0px;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    
}
.hiretext h1::after{
    content: "";
    position: absolute;
    display: block;
    background-color: var(--yellow);
    height:2px;
    width:20%;
}
/* Conatct us Form */
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
    background-image:linear-gradient(rgba(0,0,0.7),rgba(0,0,0,0.8)),url("img.jpg");
    background-position:center;
    background-size:cover;
    flex-direction: column;
    font-family: var(--poppins),sans-serif;
}
#contact h1{
    color:var(--white);
    position: relative;
    letter-spacing: 2px;
}
#contact h1::after{
    content: "";
    position: absolute;
    display: block;
    background-color: var(--yellow);
    height:2px;
    width:80%;
}
form{
    background-color: #36096d;
background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    text-align:center;
    width:300px;
    margin-top:30px;
    padding:50px;
}
textarea::placeholder{
    resize: none;
    font-weight:bold;
    font-size:1.2rem;
}
textarea{
    width:100%;
    resize: none;
}
.email{
    margin:20px 0px;
}
input{
    padding:8px 10px;
    width:100%;
    
    

}
input:focus,input:active,textarea{
    outline:none;
   
}
input::placeholder{
    font-size:1.2rem;
}
#submit{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
outline:none;
border:none;    
}
.fa-times{
    display:none;
}
.fa-bars{
    display:none ;
    color:red;
    font-size:1.3rem;
}
/* For tablet */
@media (max-width:1060px){
    #topnav{
        width:100%;
    }
    html{
        font-size:14px;
        overflow-x: hidden;
    }
    .navbar ul {
       background-color: deeppink;
       width:0px;
       position: absolute;
       left:0;
       top:0;
       z-index: 4;
       height:100vh;
       display: block;
       transition:0.5s;
       overflow: hidden;
    
     

    }
    .navbar ul li {
        margin-top:70px;
    }
    .fa-times{
       margin-top:-50px;
       float:right;
        font-size:1.3rem;
        display: block;
        cursor: pointer;
    }
    .fa-bars{
        display: block;
        font-size:1.3rem;
        position:fixed;
        right:30px;
        cursor: pointer;
    }
    /* STARTING OF BODYSECTION */
    .bodytext{
        width:100%;
        flex-direction: column-reverse;
       
       
        
    }
    .leftbody{
        margin:10px -10px;
    }
    .aboutcontainer{
        width:80%;
        margin:auto;
        flex-direction: column;
    }
   
    .imageabout{
        width:300px;
        height:300px;
        background-color: gray;
        position: relative;
        z-index:1;
        left:100px;
       
    }
    #btn3{
        width:150px;
        margin-bottom:0;
    }
    /* Services Work has been Started */

    .ourservicescontainer{
        width:80%;

    }
.row{
    flex-direction: column;
    width:80%;
    margin:auto;
}
.aboutmetext{
    margin:40px 0px -60px;
}
.image-work{
    width:50%;
    flex-direction: column-reverse;
    display: flex;
    margin:10px;
    box-sizing: border-box;
    margin:auto;
   
    
   
}
.experiencetext{
    text-align: center;
    width: 100%;
}
.experiencetext h1::after{
    display: none;
}
.worktext{
    width:60%;
    margin:auto;
}

.list{
    width:50%;
    margin:auto;
}
} 
/* For middle device */

@media (max-width:600px){
    #topnav{
        width:90%;
        margin:auto;
      
    }
    html{
        font-size:10px;
        overflow-x: hidden;
    }
    .text h1{
        font-size:1.4rem;
    }
    
   
    .navbar ul {
       background-color: deeppink;
       width:0%;
       position: fixed;
       left:0;
       top:0;
       z-index:999999;
       height:100vh;
       display: block;
       transition:0.5s;
       overflow: hidden;
    
     

    }
    .navbar ul li {
        margin-top:70px;
    }
   
    /* STARTING OF BODYSECTION */
    .bodytext{
        width:100%;
        flex-direction: column-reverse;
        justify-content: flex-start;
      
       
        
    }
    #person{
        width:300px;
        height:200px;
        
    }
    .leftbody{

  
        width:60%;
        margin:auto;
    }
    i.fab{
       
        padding:8px;
       
    }
    .leftbody span{
       text-align: center;
       font-size:1rem;
       word-wrap: break-word;
    }
    .imageabout{
        position: relative;
        left:0px; */
    }

    /* Experiences */
    .experiencetext p{
        width:80%;
        margin:auto;
    }
    #btn2{
        width:100px;
    }
    .row{
        width:90%;
    }
    .rowcontainer{
        width:100%;
    }
    #latestwork{
        width:100%;
    }
    
    

#hire{
    display: none;
}
.list{
    width: 90%;
    margin:auto;
}
.image-work{
    width:100%;
}

#contact{
    height:auto;
}
} 
